.card {
  width: 305px;
  height: 263px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center;
  box-shadow: 0px 0.996045px 3.98418px rgba(51, 51, 51, 0.15);
  border-radius: 10px;
}

.card__image {
  width: 124px;
  height: 124px;
  margin-top: 36px;
  border-radius: 50%;
  overflow: hidden;
  object-fit: cover;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.card__text {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
}

.card__like-button {
  background-color: transparent;
  border: none;
  margin-left: auto;
  margin-right: 20px;
  cursor: pointer;
}
