.card {
  width: 305px;
  height: 263px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center;
  box-shadow: 0px 0.996045px 3.98418px rgba(51, 51, 51, 0.15);
  border-radius: 10px;
  cursor: pointer;
  color: var(--main-text-color);
  text-decoration: none;
}

.card:hover {
  opacity: 0.8;
}

.card-container {
  position: relative;
}

.card__image {
  width: 124px;
  height: 124px;
  margin-top: 36px;
  border-radius: 50%;
  object-fit: cover;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.card__text {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
}

.card__like-button {
  width: 30px;
  height: 28px;
  position: absolute;
  right: 20px;
  bottom: 20px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.card__like-button:hover {
  transform: translate(0, -10px) scale(1.5);
  transition-duration: 0.5s;
}
